In [73]:
import csv
import pandas as pd
import networkx as nx

In [74]:
data_file = '/home/dipp/Github/Master-Thesis-dipp/Network_On_Global_Scale/Version 2 Latest/Data/Location_with_only_country_code_V2_Latest.csv'

In [75]:
## Includes self Loops

country_data = {}
with open(data_file, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    count = 0
    for row in reader:
        if(row['i'] != 'None' and row['j'] != 'None'):
            
            souce_loc = row['i'].replace("'","")
            destination_loc = row['j'].replace("'","")
            #country_data[count] = [row['i'], row['j'], float(row['count'])]
            #if(float(row['count']) > 999):
            country_data[count] = [souce_loc, destination_loc, float(row['count'])]
            count+=1

In [76]:
df = pd.DataFrame.from_dict(country_data, orient='index', columns=['Source','Destination','Number of Tweets'])

In [77]:
df

      Source Destination  Number of Tweets
0         CA          CA         1541103.0
1         US          RU           31451.0
2         US          US        35310671.0
3         GB          MY           29532.0
4         IN          IN         5133941.0
...      ...         ...               ...
12114     AU          BF               1.0
12115     SL          BD               1.0
12116     PA          CD               1.0
12117     DM          KW               1.0
12118     MA          PA               1.0

[12119 rows x 3 columns]

## Creating Graph using Networkx

In [78]:
G = nx.from_pandas_edgelist(df, source='Source', target='Destination', edge_attr='Number of Tweets', create_using=nx.DiGraph())

In [79]:
G.degree(weight='Number of Tweets')['US']
G.in_degree(weight='Number of Tweets')['US']
G.out_degree(weight='Number of Tweets')['US']

40976630.0

In [80]:
country = []
deg = G.degree(weight='Number of Tweets')
deg_in = G.in_degree(weight='Number of Tweets')
deg_out = G.out_degree(weight='Number of Tweets')

In [81]:
df['All Degree of Source'] = ''
df['All Degree of Destination'] = ''
df['Vi - Out Degree of Source'] = ''
df['Vj - In Degree of Destination'] = ''
# df['Percentage of Incoming'] = ''
# df['Total No. of Tweets/Population'] = ''
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination
0,CA,CA,1541103.0,,,,
1,US,RU,31451.0,,,,
2,US,US,35310671.0,,,,
3,GB,MY,29532.0,,,,
4,IN,IN,5133941.0,,,,
...,...,...,...,...,...,...,...
12114,AU,BF,1.0,,,,
12115,SL,BD,1.0,,,,
12116,PA,CD,1.0,,,,
12117,DM,KW,1.0,,,,
12118,MA,PA,1.0,,,,

In [82]:
for index_df, row in df.iterrows():
    i = row['Source']
    j = row['Destination']

    for country_temp, deg_all in deg:
        if(country_temp == i):
            df.at[index_df, 'All Degree of Source'] = deg_all
        if(country_temp == j):
            df.at[index_df, 'All Degree of Destination'] = deg_all
    
    # Vj is in degree of destination

    for country_temp_in, deg_j in deg_in:
        if(country_temp_in == j):
            df.at[index_df, 'Vj - In Degree of Destination'] = deg_j
        # else:
        #     df.at[index_df, 'Vj - In Degree of Destination'] = 0
        

    # Vi is out degree of source

    for country_temp_out, deg_i in deg_out:
        if(country_temp_out == i):
            df.at[index_df, 'Vi - Out Degree of Source'] = deg_i
        # else:
        #     df.at[index_df, 'Vi - Out Degree of Source'] = 0

In [83]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination
0,CA,CA,1541103.0,4767427.0,4767427.0,2098929.0,2668498.0
1,US,RU,31451.0,80065456.0,80358.0,40976630.0,51161.0
2,US,US,35310671.0,80065456.0,80065456.0,40976630.0,39088826.0
3,GB,MY,29532.0,11081291.0,649408.0,5616121.0,364525.0
4,IN,IN,5133941.0,11681716.0,11681716.0,5880670.0,5801046.0
...,...,...,...,...,...,...,...
12114,AU,BF,1.0,2401070.0,617.0,1152856.0,89.0
12115,SL,BD,1.0,765.0,54457.0,140.0,31614.0
12116,PA,CD,1.0,146916.0,2678.0,64358.0,2146.0
12117,DM,KW,1.0,2426.0,45079.0,1200.0,20694.0
12118,MA,PA,1.0,20586.0,146916.0,8452.0,82558.0

In [84]:
df['Percentage of Incoming at Destination (Total Tweet / Vj)'] = ''
df['Percentage of Outgoing From Source (Total Tweet / Vi)'] = ''
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi)
0,CA,CA,1541103.0,4767427.0,4767427.0,2098929.0,2668498.0,,
1,US,RU,31451.0,80065456.0,80358.0,40976630.0,51161.0,,
2,US,US,35310671.0,80065456.0,80065456.0,40976630.0,39088826.0,,
3,GB,MY,29532.0,11081291.0,649408.0,5616121.0,364525.0,,
4,IN,IN,5133941.0,11681716.0,11681716.0,5880670.0,5801046.0,,
...,...,...,...,...,...,...,...,...,...
12114,AU,BF,1.0,2401070.0,617.0,1152856.0,89.0,,
12115,SL,BD,1.0,765.0,54457.0,140.0,31614.0,,
12116,PA,CD,1.0,146916.0,2678.0,64358.0,2146.0,,
12117,DM,KW,1.0,2426.0,45079.0,1200.0,20694.0,,
12118,MA,PA,1.0,20586.0,146916.0,8452.0,82558.0,,

In [85]:
for index_df, row in df.iterrows():
    source = row['Source']
    destination = row['Destination']
    No_of_Tweets = row['Number of Tweets']
    vi = row['Vi - Out Degree of Source']
    vj = row['Vj - In Degree of Destination']

    per_in = float(No_of_Tweets / vj) * 100
    per_out = float(No_of_Tweets / vi) * 100
    df.at[index_df, 'Percentage of Incoming at Destination (Total Tweet / Vj)'] = per_in
    df.at[index_df, 'Percentage of Outgoing From Source (Total Tweet / Vi)'] = per_out

In [86]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi)
0,CA,CA,1541103.0,4767427.0,4767427.0,2098929.0,2668498.0,57.751702,73.423303
1,US,RU,31451.0,80065456.0,80358.0,40976630.0,51161.0,61.474561,0.076754
2,US,US,35310671.0,80065456.0,80065456.0,40976630.0,39088826.0,90.334437,86.172706
3,GB,MY,29532.0,11081291.0,649408.0,5616121.0,364525.0,8.101502,0.525843
4,IN,IN,5133941.0,11681716.0,11681716.0,5880670.0,5801046.0,88.500264,87.301974
...,...,...,...,...,...,...,...,...,...
12114,AU,BF,1.0,2401070.0,617.0,1152856.0,89.0,1.123596,0.000087
12115,SL,BD,1.0,765.0,54457.0,140.0,31614.0,0.003163,0.714286
12116,PA,CD,1.0,146916.0,2678.0,64358.0,2146.0,0.046598,0.001554
12117,DM,KW,1.0,2426.0,45079.0,1200.0,20694.0,0.004832,0.083333
12118,MA,PA,1.0,20586.0,146916.0,8452.0,82558.0,0.001211,0.011832

In [87]:
df.to_csv('/home/dipp/Github/Master-Thesis-dipp/Network_On_Global_Scale/Version 2 Latest/Result/global_network_test_25_may.csv', index=False)