In [1]:
import csv
import pandas as pd
import networkx as nx

In [2]:
data_file = '/global/D1/projects/umod/dipp/Misinformation_Dataset/Result/location_with_value/Location_with_only_country_code_cat_3_only_2.csv'
population_data_file = '/home/dipp/Github/Master-Thesis-dipp/Misinformation_Dataset_Analysis/Country_Data_Extraction/Result/Country_Data_cat_3_only_2.csv'

In [3]:
## Includes self Loops

country_data = {}
with open(data_file, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    count = 0
    for row in reader:
        if(row['i'] != 'None' and row['j'] != 'None'):
            
            souce_loc = row['i'].replace("'","")
            destination_loc = row['j'].replace("'","")
            #country_data[count] = [row['i'], row['j'], float(row['count'])]
            #if(float(row['count']) > 999):
            country_data[count] = [souce_loc, destination_loc, float(row['count'])]
            count+=1

In [4]:
df = pd.DataFrame.from_dict(country_data, orient='index', columns=['Source','Destination','Number of Tweets'])

In [5]:
df

    Source Destination  Number of Tweets
0       CH          CH             102.0
1       US          US           61353.0
2       GB          GB            6999.0
3       PL          PL              41.0
4       ZA          ZA            1271.0
..     ...         ...               ...
792     CN          FR               1.0
793     TH          MY               1.0
794     FJ          US               1.0
795     ZA          IN               1.0
796     PL          DK               1.0

[797 rows x 3 columns]

## Creating Graph using Networkx

In [6]:
G = nx.from_pandas_edgelist(df, source='Source', target='Destination', edge_attr='Number of Tweets', create_using=nx.DiGraph())

In [7]:
G.degree(weight='Number of Tweets')['US']
G.in_degree(weight='Number of Tweets')['US']
G.out_degree(weight='Number of Tweets')['US']

66132.0

In [8]:
country = []
deg = G.degree(weight='Number of Tweets')
deg_in = G.in_degree(weight='Number of Tweets')
deg_out = G.out_degree(weight='Number of Tweets')

In [9]:
df['All Degree of Source'] = ''
df['All Degree of Destination'] = ''
df['Vi - Out Degree of Source'] = ''
df['Vj - In Degree of Destination'] = ''
# df['Percentage of Incoming'] = ''
# df['Total No. of Tweets/Population'] = ''
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination
0,CH,CH,102.0,,,,
1,US,US,61353.0,,,,
2,GB,GB,6999.0,,,,
3,PL,PL,41.0,,,,
4,ZA,ZA,1271.0,,,,
...,...,...,...,...,...,...,...
792,CN,FR,1.0,,,,
793,TH,MY,1.0,,,,
794,FJ,US,1.0,,,,
795,ZA,IN,1.0,,,,
796,PL,DK,1.0,,,,

In [10]:
for index_df, row in df.iterrows():
    i = row['Source']
    j = row['Destination']

    for country_temp, deg_all in deg:
        if(country_temp == i):
            df.at[index_df, 'All Degree of Source'] = deg_all
        if(country_temp == j):
            df.at[index_df, 'All Degree of Destination'] = deg_all
    
    # Vj is in degree of destination

    for country_temp_in, deg_j in deg_in:
        if(country_temp_in == j):
            df.at[index_df, 'Vj - In Degree of Destination'] = deg_j
        # else:
        #     df.at[index_df, 'Vj - In Degree of Destination'] = 0
        

    # Vi is out degree of source

    for country_temp_out, deg_i in deg_out:
        if(country_temp_out == i):
            df.at[index_df, 'Vi - Out Degree of Source'] = deg_i
        # else:
        #     df.at[index_df, 'Vi - Out Degree of Source'] = 0

In [11]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination
0,CH,CH,102.0,347.0,347.0,180.0,167.0
1,US,US,61353.0,131536.0,131536.0,66132.0,65404.0
2,GB,GB,6999.0,18111.0,18111.0,9081.0,9030.0
3,PL,PL,41.0,136.0,136.0,65.0,71.0
4,ZA,ZA,1271.0,3026.0,3026.0,1502.0,1524.0
...,...,...,...,...,...,...,...
792,CN,FR,1.0,108.0,187.0,59.0,87.0
793,TH,MY,1.0,27.0,203.0,16.0,109.0
794,FJ,US,1.0,40.0,131536.0,21.0,65404.0
795,ZA,IN,1.0,3026.0,3197.0,1502.0,1582.0
796,PL,DK,1.0,136.0,147.0,65.0,84.0

In [12]:
df['Percentage of Incoming at Destination (Total Tweet / Vj)'] = ''
df['Percentage of Outgoing From Source (Total Tweet / Vi)'] = ''
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi)
0,CH,CH,102.0,347.0,347.0,180.0,167.0,,
1,US,US,61353.0,131536.0,131536.0,66132.0,65404.0,,
2,GB,GB,6999.0,18111.0,18111.0,9081.0,9030.0,,
3,PL,PL,41.0,136.0,136.0,65.0,71.0,,
4,ZA,ZA,1271.0,3026.0,3026.0,1502.0,1524.0,,
...,...,...,...,...,...,...,...,...,...
792,CN,FR,1.0,108.0,187.0,59.0,87.0,,
793,TH,MY,1.0,27.0,203.0,16.0,109.0,,
794,FJ,US,1.0,40.0,131536.0,21.0,65404.0,,
795,ZA,IN,1.0,3026.0,3197.0,1502.0,1582.0,,
796,PL,DK,1.0,136.0,147.0,65.0,84.0,,

In [13]:
for index_df, row in df.iterrows():
    source = row['Source']
    destination = row['Destination']
    No_of_Tweets = row['Number of Tweets']
    vi = row['Vi - Out Degree of Source']
    vj = row['Vj - In Degree of Destination']

    per_in = float(No_of_Tweets / vj) * 100
    per_out = float(No_of_Tweets / vi) * 100
    df.at[index_df, 'Percentage of Incoming at Destination (Total Tweet / Vj)'] = per_in
    df.at[index_df, 'Percentage of Outgoing From Source (Total Tweet / Vi)'] = per_out

In [14]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi)
0,CH,CH,102.0,347.0,347.0,180.0,167.0,61.077844,56.666667
1,US,US,61353.0,131536.0,131536.0,66132.0,65404.0,93.806189,92.773544
2,GB,GB,6999.0,18111.0,18111.0,9081.0,9030.0,77.508306,77.07301
3,PL,PL,41.0,136.0,136.0,65.0,71.0,57.746479,63.076923
4,ZA,ZA,1271.0,3026.0,3026.0,1502.0,1524.0,83.39895,84.620506
...,...,...,...,...,...,...,...,...,...
792,CN,FR,1.0,108.0,187.0,59.0,87.0,1.149425,1.694915
793,TH,MY,1.0,27.0,203.0,16.0,109.0,0.917431,6.25
794,FJ,US,1.0,40.0,131536.0,21.0,65404.0,0.001529,4.761905
795,ZA,IN,1.0,3026.0,3197.0,1502.0,1582.0,0.063211,0.066578
796,PL,DK,1.0,136.0,147.0,65.0,84.0,1.190476,1.538462

## Extensions

### Tweets per population and 2 versions of Cij

In [15]:
population_data = {}

with open(population_data_file, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    
    for row in reader:
        # print(row['Country Code'])
        # print(row['Population'])
        if(row['Population']!=''):
            population_data[row['Country Code']] = int(row['Population'])

In [16]:
population_data['AI'] = 15753
population_data['AQ'] = 3000
population_data['AX'] = 30129
population_data['BQ'] = 27726
population_data['CX'] = 1692
population_data['EH'] = 612000
population_data['FK'] = 3662
population_data['GF'] = 301099
population_data['GG'] = 63950
population_data['GS'] = 1
population_data['IO'] = 3000
population_data['JE'] = 103267
population_data['PN'] = 47
population_data['RE'] = 873102
population_data['SH'] = 4439
population_data['TF'] = 300
population_data['TW'] = 23894394
population_data['UM'] = 300
population_data['VA'] = 453
population_data['YT'] = 310022

In [17]:
df['Tweets Per Population'] = ''
df['Cij (All Degrees)'] = ''
df['Cij'] = ''

In [18]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi),Tweets Per Population,Cij (All Degrees),Cij
0,CH,CH,102.0,347.0,347.0,180.0,167.0,61.077844,56.666667,,,
1,US,US,61353.0,131536.0,131536.0,66132.0,65404.0,93.806189,92.773544,,,
2,GB,GB,6999.0,18111.0,18111.0,9081.0,9030.0,77.508306,77.07301,,,
3,PL,PL,41.0,136.0,136.0,65.0,71.0,57.746479,63.076923,,,
4,ZA,ZA,1271.0,3026.0,3026.0,1502.0,1524.0,83.39895,84.620506,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
792,CN,FR,1.0,108.0,187.0,59.0,87.0,1.149425,1.694915,,,
793,TH,MY,1.0,27.0,203.0,16.0,109.0,0.917431,6.25,,,
794,FJ,US,1.0,40.0,131536.0,21.0,65404.0,0.001529,4.761905,,,
795,ZA,IN,1.0,3026.0,3197.0,1502.0,1582.0,0.063211,0.066578,,,
796,PL,DK,1.0,136.0,147.0,65.0,84.0,1.190476,1.538462,,,

In [19]:
import pypopulation

In [20]:
temp = 0
None_Type_Countries = []
for index_df, row in df.iterrows():
    source = row['Source']
    destination = row['Destination']
    No_of_Tweets = row['Number of Tweets']


    # source_poplation = population_data.get(source)
    # dest_population = population_data.get(destination)


    source_poplation = pypopulation.get_population(source)
    dest_population = pypopulation.get_population(destination)

    if(source_poplation == None):
        source_poplation = population_data.get(source)
            

    if(dest_population == None):
        dest_population = population_data.get(destination)
            

    percentage = No_of_Tweets / (source_poplation + dest_population)

    df.at[index_df, 'Tweets Per Population'] = percentage

In [21]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi),Tweets Per Population,Cij (All Degrees),Cij
0,CH,CH,102.0,347.0,347.0,180.0,167.0,61.077844,56.666667,0.000006,,
1,US,US,61353.0,131536.0,131536.0,66132.0,65404.0,93.806189,92.773544,0.000093,,
2,GB,GB,6999.0,18111.0,18111.0,9081.0,9030.0,77.508306,77.07301,0.000052,,
3,PL,PL,41.0,136.0,136.0,65.0,71.0,57.746479,63.076923,0.000001,,
4,ZA,ZA,1271.0,3026.0,3026.0,1502.0,1524.0,83.39895,84.620506,0.000011,,
...,...,...,...,...,...,...,...,...,...,...,...,...
792,CN,FR,1.0,108.0,187.0,59.0,87.0,1.149425,1.694915,0.0,,
793,TH,MY,1.0,27.0,203.0,16.0,109.0,0.917431,6.25,0.0,,
794,FJ,US,1.0,40.0,131536.0,21.0,65404.0,0.001529,4.761905,0.0,,
795,ZA,IN,1.0,3026.0,3197.0,1502.0,1582.0,0.063211,0.066578,0.0,,
796,PL,DK,1.0,136.0,147.0,65.0,84.0,1.190476,1.538462,0.0,,

In [22]:
for index_df, row in df.iterrows():
    source = row['Source']
    destination = row['Destination']
    No_of_Tweets = row['Number of Tweets']
    all_degree_source = row['All Degree of Source']
    all_degree_dest = row['All Degree of Destination']
    vi = row['Vi - Out Degree of Source']
    vj = row['Vj - In Degree of Destination']


    cij_all = No_of_Tweets / (all_degree_source + all_degree_dest)
    cij = No_of_Tweets / (vi + vj)

    df.at[index_df, 'Cij (All Degrees)'] = cij_all
    df.at[index_df, 'Cij'] = cij

In [23]:
df

,Source,Destination,Number of Tweets,All Degree of Source,All Degree of Destination,Vi - Out Degree of Source,Vj - In Degree of Destination,Percentage of Incoming at Destination (Total Tweet / Vj),Percentage of Outgoing From Source (Total Tweet / Vi),Tweets Per Population,Cij (All Degrees),Cij
0,CH,CH,102.0,347.0,347.0,180.0,167.0,61.077844,56.666667,0.000006,0.146974,0.293948
1,US,US,61353.0,131536.0,131536.0,66132.0,65404.0,93.806189,92.773544,0.000093,0.233218,0.466435
2,GB,GB,6999.0,18111.0,18111.0,9081.0,9030.0,77.508306,77.07301,0.000052,0.193225,0.38645
3,PL,PL,41.0,136.0,136.0,65.0,71.0,57.746479,63.076923,0.000001,0.150735,0.301471
4,ZA,ZA,1271.0,3026.0,3026.0,1502.0,1524.0,83.39895,84.620506,0.000011,0.210013,0.420026
...,...,...,...,...,...,...,...,...,...,...,...,...
792,CN,FR,1.0,108.0,187.0,59.0,87.0,1.149425,1.694915,0.0,0.00339,0.006849
793,TH,MY,1.0,27.0,203.0,16.0,109.0,0.917431,6.25,0.0,0.004348,0.008
794,FJ,US,1.0,40.0,131536.0,21.0,65404.0,0.001529,4.761905,0.0,0.000008,0.000015
795,ZA,IN,1.0,3026.0,3197.0,1502.0,1582.0,0.063211,0.066578,0.0,0.000161,0.000324
796,PL,DK,1.0,136.0,147.0,65.0,84.0,1.190476,1.538462,0.0,0.003534,0.006711

In [24]:
df.to_csv('/home/dipp/Github/Master-Thesis-dipp/Misinformation_Dataset_Analysis/Network_Analysis/Result/global_network_cat_3_only_2.csv', index=False)